extends detail

block content
  header
    +nav()
    +header('Classlist', '/static/assets/background.svg')
  main
    h2 Class of 20/21
    ul.students
      each student in students
        li.student
          img(src=student.avatar)
          span= student.name
          a(href=`https://www.github.com/${student.github}`)=student.github
