extends detail
  
block content
    header
      +nav()
      +header('Project-tech', '/static/assets/background_project-tech.svg')
    main
      +cornerpt()
      include:markdown-it ../pages/project-tech.md
      +footer()
