mixin footer
  footer
    p These courses are given at Communication and Multimedia Design (CMD), a design bachelor focused on interactive digital products and services. CMD is part of the Faculty of Digital Media and Creative Industries at the Amsterdam University of Applied Sciences.
