mixin nav()
  nav
    ul
      li
        img(class="icon", src="/static/assets/document.svg") 
        a(href="studiemateriaal") Studiemateriaal
      li
        img(class="icon", src="/static/assets/play.svg") 
        a(href="studiemateriaal") Video's
      li
        img(class="icon", src="/static/assets/website.svg") 
        a(href="studiemateriaal") Showcase
      li
        img(class="icon", src="/static/assets/calculator.svg") 
        a(href="studiemateriaal") Cijfers
      li
        img(class="icon", src="/static/assets/user.svg") 
        a(href="studiemateriaal") Studenten  
