mixin nav()
  nav
    ul
      li
        img(class="icon", src="/static/assets/document.svg") 
        a(href="resources") Resources
      li
        img(class="icon", src="/static/assets/play.svg") 
        a(href="videos") Video's
      li
        img(class="icon", src="/static/assets/website.svg") 
        a(href="showcase") Showcase
      li
        img(class="icon", src="/static/assets/calculator.svg") 
        a(href="grades") Grades
      li
        img(class="icon", src="/static/assets/user.svg") 
        a(href="classlist") Classlist
