:root {
  --black: #000;
  --blue: #512ffe;
  --white: #fff;
  --yellow: #FFF021;
}

body {
  background-color: var(--black);
  background-image: url("data:image/svg+xml,%3Csvg width='12' height='16' viewBox='0 0 12 16' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4 .99C4 .445 4.444 0 5 0c.552 0 1 .45 1 .99v4.02C6 5.555 5.556 6 5 6c-.552 0-1-.45-1-.99V.99zm6 8c0-.546.444-.99 1-.99.552 0 1 .45 1 .99v4.02c0 .546-.444.99-1 .99-.552 0-1-.45-1-.99V8.99z' fill='%23ffffff' fill-opacity='0.1' fill-rule='evenodd'/%3E%3C/svg%3E");
  color: var(--white);
  font-family: monospace;
  font-size: 1.5em;
  line-height: 1.5;
  margin: 0;
}
main {
  max-width: 80vw;
  margin: 10vh auto;
}
main header {
  color: var(--white);
  height: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
h1 {
  font-size: 5em;
}
h2 {
  font-size: 2em;
  margin-top: 1.5em;
}
img {
  max-width: 100%;
}

p img {
  float: left;
  border-radius: 100%;
  border: 2px solid var(--white);
  margin-right: 1em;
  width: 10%;
}

p img {
  border: 2px solid var(--white);
  margin-top: 2em;
}
.button {
  background: var(--white);
  color: var(--black);
  padding: 1em;
}

.examples img {
  max-width: 25vh;
}

footer {
  font-style: italic;
}

a {
  position: relative;
}

nav span {
  position: absolute;
  bottom: 1em;
  text-align: center;
  width: 100%;
  text-align: center;
  background: var(--black);
}

article {
  background: var(--black);
  border: 2px solid var(--white);
  padding: 2em;
}

.banner {
  z-index: -1;
}

.courses {
  display: flex;
}

.courses article:not(:last-child) {
  margin-right: 4em;
}

footer {
  margin-top: 4em;
}

nav ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

nav {
  border-bottom: 1px solid var(--white);
  border-top: 1px solid var(--white);
  background: var(--blue);
}

nav ul li {
  border-right: 1px solid var(--white);
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 10vh;
  justify-content: center;
}

nav ul li a {
  text-align: center;
}

.head {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40vh;
}

.head h1 {
  position: absolute;
  margin: 0;
  padding: 0;
}

.head img {
  width: 100%;
  height: 40vh;
}

.other {
  margin-top: 4em;
  padding-bottom: 1000px;
}

.cta {
  top: 30px;
  position: sticky;
  margin-bottom: 4em;
  height: 40vh;
  overflow: hidden;
}

.homepage {
  margin: -5vh auto;
}

.students {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 1em;
  text-decoration: none;
  list-style-type: none;
  padding: 0;
}

.student {
  border: 1px solid white;
  background: black;
}

.student span {
  width: 100%;
  display: inline-block;
  padding-left: 0.5em;
}

.student a {
  padding: 0.5em;
}

blockquote {
  margin: 0;
  margin-top: 2em;
  background: black;
  border: 1px solid white;
  padding: 1.5em;
}

tr {
  vertical-align: top;
}

td {
  width: 25%;
}

a:visited {
  color: white;
}

a {
  color: white;
}

.promo {
  position: absolute;
right: -30%;
top: 15%;
}
